* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h2 {
  color: rgb(160, 12, 12);
}

@keyframes movimiento-truck {
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes movimiento-truck2 {
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes movimiento-work {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes movimiento-map {
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}
header {
  height: 100px;
  background-image: linear-gradient(to right, rgb(160, 12, 12), rgb(223, 0, 0), rgb(160, 12, 12));
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
header nav ul li {
  margin-top: 10px;
  width: 100px;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li:not(.no-hover):hover {
  text-decoration: none;
  color: rgb(160, 12, 12);
  background-color: white;
  height: fit-content;
}
header nav ul li:not(.no-hover):hover a {
  text-decoration: none;
  color: rgb(160, 12, 12);
}
@media (min-width: 576px) and (max-width: 767px) {
  header nav ul li {
    width: 90px;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  header {
    height: 70px;
  }
  header nav ul li {
    width: fit-content;
  }
  header nav ul li a {
    font-size: 14px;
  }
  header nav ul li a img {
    height: 40px;
    width: 40px;
  }
}

main {
  background-image: url("../imagenes/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  height: 100px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url("../imagenes/banner-home.jpg");
  background-size: cover;
  height: 600px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .hero {
    height: 250px;
    background-position: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    height: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero {
    height: 450px;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .hero {
    height: 200px;
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  section h1 br {
    display: none;
  }
}

.seccion__explora {
  background-image: linear-gradient(to top, rgb(160, 12, 12), rgb(255, 31, 31));
  color: white;
}
.seccion__explora h2 {
  color: white;
}
.seccion__explora div .explora__caja a .explora__icono {
  width: 150px;
  height: 150px;
  border: 1px solid white;
}
.seccion__explora div .explora__caja a .explora__icono:hover {
  box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -webkit-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -moz-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
}
.seccion__explora div .explora__caja .explora__nombre {
  font-weight: 600;
}
.seccion__explora div .explora__caja .explora__descripcion {
  height: 80px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .seccion__explora div .explora__caja {
    width: 40vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .seccion__explora div .explora__caja {
    width: 24vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .seccion__explora div .explora__caja {
    width: 24vw;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .seccion__explora div .explora__caja {
    width: 50vw;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .seccion__explora .explora__texto {
    margin: 40px;
  }
  .seccion__explora .explora__texto br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .seccion__explora .explora__texto {
    margin: 50px;
  }
  .seccion__explora .explora__texto br {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .seccion__explora .explora__texto {
    margin: 40px;
  }
  .seccion__explora .explora__texto br {
    display: none;
  }
}

.avisos__publicaciones {
  margin-top: 20px;
  border: 2px solid black;
  height: 200px;
  overflow: auto;
  background-color: rgb(243, 243, 243);
  padding: 10px;
}
.avisos__publicaciones strong {
  color: rgb(160, 12, 12);
}

@media (min-width: 576px) and (max-width: 767px) {
  .como__trabajamos div .trabajamos__contenedor {
    width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .como__trabajamos div .trabajamos__contenedor {
    width: 40vw;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .como__trabajamos div .trabajamos__contenedor {
    width: 80vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .seccion__valoraciones .valoraciones__caja {
    width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .seccion__valoraciones .valoraciones__caja {
    width: 60vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .seccion__valoraciones .valoraciones__caja {
    width: 30vw;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .seccion__valoraciones .valoraciones__caja {
    width: 80vw;
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  section .achiras__slide {
    width: 100vw;
  }
  section .achiras__slide div .carousel-inner img {
    width: 100vw;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  section .achiras__slide {
    width: 100vw;
  }
  section .achiras__slide div .carousel-inner img {
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section .achiras__slide {
    width: 90vw;
  }
  section .achiras__slide div .carousel-inner img {
    width: 100vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section .achiras__slide {
    width: 800px;
  }
  section .achiras__slide div .carousel-inner img {
    width: 800px;
  }
}

.grid-servicios {
  background-image: url("../imagenes/background.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: ". truck1 serv1 serv1 serv1 truck2 ." ". work1 serv2 serv2 serv2 work2 ." ". map1 serv3 serv3 serv3 map2 .";
  column-gap: 15px;
  row-gap: 15px;
}
.grid-servicios div .servicios__icono {
  height: 90px;
  width: 90px;
}
@media (min-width: 360px) and (max-width: 575px) {
  .grid-servicios div .servicios__icono {
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-servicios div .servicios__icono {
    height: 64px;
    width: 64px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid-servicios div .servicios__icono {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .grid-servicios div .respuestas-servicios br {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-servicios div .respuestas-servicios br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid-servicios div .respuestas-servicios br {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .grid-servicios div .respuestas-servicios {
    margin-top: 20px;
    text-decoration: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-servicios div .respuestas-servicios {
    margin-top: 20px;
    text-decoration: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid-servicios div .respuestas-servicios {
    margin-top: 20px;
    text-decoration: none;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .grid-servicios {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "truck1 serv1 serv1 serv1 serv1 serv1 truck2 " "work1 serv2 serv2 serv2 serv2 serv2 work2 " "map1 serv3 serv3 serv3 serv3 serv3 map2 ";
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-servicios {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "truck1 serv1 serv1 serv1 serv1 serv1 truck2 " "work1 serv2 serv2 serv2 serv2 serv2 work2 " "map1 serv3 serv3 serv3 serv3 serv3 map2 ";
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid-servicios {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "truck1 serv1 serv1 serv1 serv1 serv1 truck2 " "work1 serv2 serv2 serv2 serv2 serv2 work2 " "map1 serv3 serv3 serv3 serv3 serv3 map2 ";
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-servicios {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "truck1 serv1 serv1 serv1 serv1 serv1 truck2 " "work1 serv2 serv2 serv2 serv2 serv2 work2 " "map1 serv3 serv3 serv3 serv3 serv3 map2 ";
  }
}

.icono-truck {
  grid-area: truck1;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  animation-name: movimiento-truck;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (min-width: 360px) and (max-width: 575px) {
  .icono-truck {
    grid-area: truck1;
    height: 300px;
    width: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .icono-truck {
    grid-area: truck1;
    height: 300px;
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .icono-truck {
    grid-area: truck1;
    height: 300px;
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .icono-truck {
    grid-area: truck1;
    width: 200px;
  }
}

.icono-work {
  grid-area: work1;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  animation-name: movimiento-work;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (min-width: 360px) and (max-width: 575px) {
  .icono-work {
    grid-area: work1;
    height: 300px;
    width: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .icono-work {
    grid-area: work1;
    height: 300px;
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .icono-work {
    grid-area: work1;
    height: 300px;
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .icono-work {
    grid-area: work1;
    width: 200px;
  }
}

.icono-map {
  grid-area: map1;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  animation-name: movimiento-map;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (min-width: 360px) and (max-width: 575px) {
  .icono-map {
    grid-area: map1;
    height: 300px;
    width: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .icono-map {
    grid-area: map1;
    height: 300px;
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .icono-map {
    grid-area: map1;
    height: 300px;
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .icono-map {
    grid-area: map1;
    width: 200px;
  }
}

.hijo-servicio1 {
  grid-area: serv1;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 575px) {
  .hijo-servicio1 {
    grid-area: serv1;
    height: 300px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .hijo-servicio1 {
    grid-area: serv1;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hijo-servicio1 {
    grid-area: serv1;
    height: 300px;
  }
}

.hijo-servicio2 {
  grid-area: serv2;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 575px) {
  .hijo-servicio2 {
    grid-area: serv2;
    height: 300px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .hijo-servicio2 {
    grid-area: serv2;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hijo-servicio2 {
    grid-area: serv2;
    height: 300px;
  }
}

.hijo-servicio3 {
  grid-area: serv3;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 575px) {
  .hijo-servicio3 {
    grid-area: serv3;
    height: 300px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .hijo-servicio3 {
    grid-area: serv3;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hijo-servicio3 {
    grid-area: serv3;
    height: 300px;
  }
}

.icono-truck2 {
  grid-area: truck2;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  animation-name: movimiento-truck2;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (min-width: 360px) and (max-width: 575px) {
  .icono-truck2 {
    grid-area: truck2;
    height: 300px;
    width: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .icono-truck2 {
    grid-area: truck2;
    height: 300px;
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .icono-truck2 {
    grid-area: truck2;
    height: 300px;
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .icono-truck2 {
    grid-area: truck2;
    width: 200px;
  }
}

.icono-work2 {
  grid-area: work2;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  animation-name: movimiento-work;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (min-width: 360px) and (max-width: 575px) {
  .icono-work2 {
    grid-area: work2;
    height: 300px;
    width: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .icono-work2 {
    grid-area: work2;
    height: 300px;
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .icono-work2 {
    grid-area: work2;
    height: 300px;
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .icono-work2 {
    grid-area: work2;
    width: 200px;
  }
}

.icono-map2 {
  grid-area: map2;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  animation-name: movimiento-map;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (min-width: 360px) and (max-width: 575px) {
  .icono-map2 {
    grid-area: map2;
    height: 300px;
    width: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .icono-map2 {
    grid-area: map2;
    height: 300px;
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .icono-map2 {
    grid-area: map2;
    height: 300px;
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .icono-map2 {
    grid-area: map2;
    width: 200px;
  }
}

.presupuesto__contenido {
  background-image: linear-gradient(to top, rgb(160, 12, 12), rgb(255, 31, 31));
  color: white;
}
.presupuesto__contenido h2 {
  color: white;
}
.presupuesto__contenido .presupuesto__info {
  border: 1px solid white;
}
@media (min-width: 360px) and (max-width: 575px) {
  .presupuesto__contenido .presupuesto__info p {
    margin-top: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .presupuesto__contenido .presupuesto__info p {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .presupuesto__contenido .presupuesto__info p {
    margin-top: 10px;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .presupuesto__contenido .presupuesto__info {
    width: 60vw;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .presupuesto__contenido .presupuesto__info {
    width: 60vw;
  }
}
.presupuesto__contenido .presupuesto__info:hover {
  box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -webkit-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -moz-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
}

.presupuesto__billeteras section div .billeteras {
  background-color: white;
  border: 3px solid rgb(160, 12, 12);
}
@media (min-width: 360px) and (max-width: 575px) {
  .presupuesto__billeteras section div .billeteras {
    width: 80vw;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .presupuesto__billeteras section div .billeteras {
    width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .presupuesto__billeteras section div .billeteras {
    width: 80vw;
  }
}
.presupuesto__billeteras section div .billeteras:hover {
  transform: scale(1.3, 1.3);
  transition: all 1s ease;
}

@media (min-width: 360px) and (max-width: 575px) {
  section .presupuesto__intro br {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  section .presupuesto__intro br {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  section .presupuesto__intro {
    margin: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  section .presupuesto__intro {
    margin: 30px;
  }
}

.contacto__formulario form .contacto__nombre {
  width: 290px;
}
.contacto__formulario form .contacto__correo {
  width: 431px;
}
.contacto__formulario form #boton-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contacto__formulario form .enviar {
  margin: 10px;
  height: 30px;
  width: 50px;
}
@media (min-width: 360px) and (max-width: 575px) {
  .contacto__formulario form .contacto__nombre {
    width: 199px;
  }
  .contacto__formulario form .contacto__correo {
    width: 340px;
  }
  .contacto__formulario form #cajaConsulta {
    width: 340px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .contacto__formulario form .contacto__nombre {
    width: 259px;
  }
  .contacto__formulario form .contacto__correo {
    width: 400px;
  }
  .contacto__formulario form #cajaConsulta {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contacto__formulario form .contacto__nombre {
    width: 259px;
  }
  .contacto__formulario form .contacto__correo {
    width: 400px;
  }
  .contacto__formulario form #cajaConsulta {
    width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contacto__formulario form .contacto__nombre {
    width: 289px;
  }
  .contacto__formulario form .contacto__correo {
    width: 430px;
  }
  .contacto__formulario form #cajaConsulta {
    width: 430px;
  }
}

.enlaces__redes {
  background-image: linear-gradient(to top, rgb(160, 12, 12), rgb(255, 31, 31));
  color: white;
}
.enlaces__redes h2 {
  color: white;
}
.enlaces__redes .enlaces__lista li {
  list-style: none;
  margin-top: 30px;
}
.enlaces__redes .enlaces__lista li .enlaces__icono {
  height: 150px;
  width: 150px;
}
.enlaces__redes .enlaces__lista li .enlaces__icono:hover {
  transform: scale(1.3, 1.3);
  transition: all 1s ease;
}
@media (min-width: 360px) and (max-width: 575px) {
  .enlaces__redes .enlaces__lista li .enlaces__icono {
    height: 90px;
    width: 90px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .enlaces__redes .enlaces__lista li .enlaces__icono {
    height: 90px;
    width: 90px;
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .buscanos .mapa__ubicacion .mapa__iframe {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buscanos .mapa__ubicacion .mapa__info {
    width: 90vw;
    text-align: center;
  }
  .buscanos .mapa__ubicacion .mapa__info br {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .buscanos .mapa__ubicacion .mapa__iframe {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buscanos .mapa__ubicacion .mapa__info {
    width: 90vw;
    text-align: center;
  }
  .buscanos .mapa__ubicacion .mapa__info br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .buscanos .mapa__ubicacion .mapa__iframe {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buscanos .mapa__ubicacion .mapa__info {
    width: 90vw;
    text-align: center;
  }
  .buscanos .mapa__ubicacion .mapa__info br {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .buscanos .mapa__ubicacion .mapa__iframe {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .buscanos .mapa__ubicacion .mapa__info {
    width: 40vw;
  }
  .buscanos .mapa__ubicacion .mapa__info br {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
