* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h2 {
  color: rgb(160, 12, 12);
}

header {
  height: 100px;
  background-color: rgb(160, 12, 12);
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
header nav ul li {
  margin-top: 10px;
  width: 100px;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li:not(.no-hover):hover {
  text-decoration: none;
  color: rgb(160, 12, 12);
  background-color: white;
  height: fit-content;
}
header nav ul li:not(.no-hover):hover a {
  text-decoration: none;
  color: rgb(160, 12, 12);
}

main {
  background-image: url("../imagenes/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  height: 100px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url("../imagenes/banner-home.jpg");
  background-size: cover;
  height: 600px;
}

.seccion__explora {
  background-image: linear-gradient(to top, rgb(160, 12, 12), rgb(255, 31, 31));
  color: white;
}
.seccion__explora h2 {
  color: white;
}

.explora__icono {
  width: 150px;
  height: 150px;
  border: 1px solid white;
}

.explora__icono:hover {
  box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -webkit-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -moz-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
}

.explora__nombre {
  font-weight: 600;
}

.avisos__publicaciones {
  margin-top: 20px;
  border: 2px solid black;
  height: 200px;
  overflow: auto;
  background-color: rgb(243, 243, 243);
}

.grid-servicios {
  background-image: url("../imagenes/background.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: ". truck1 serv1 serv1 serv1 truck2 ." ". work1 serv2 serv2 serv2 work2 ." ". map1 serv3 serv3 serv3 map2 .";
  column-gap: 15px;
  row-gap: 15px;
}

.icono-truck {
  grid-area: truck1;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.icono-work {
  grid-area: work1;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.icono-map {
  grid-area: map1;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.hijo-servicio1 {
  grid-area: serv1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hijo-servicio2 {
  grid-area: serv2;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hijo-servicio3 {
  grid-area: serv3;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-truck2 {
  grid-area: truck2;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  transform: scaleX(-1);
}

.icono-work2 {
  grid-area: work2;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  transform: scaleX(-1);
}

.icono-map2 {
  grid-area: map2;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  transform: scaleX(-1);
}

.presupuesto__contenido {
  background-image: linear-gradient(to top, rgb(160, 12, 12), rgb(255, 31, 31));
  color: white;
}
.presupuesto__contenido h2 {
  color: white;
}
.presupuesto__contenido .presupuesto__info {
  border: 1px solid white;
}
.presupuesto__contenido .presupuesto__info:hover {
  box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -webkit-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
  -moz-box-shadow: 1px 5px 49px 1px rgba(255, 255, 255, 0.49);
}

.billeteras {
  background-color: white;
  border: 1px solid black;
}

.billeteras:hover {
  transform: scale(1.3, 1.3);
  transition: all 1s ease;
}

.contacto__formulario form .contacto__nombre {
  width: 290px;
}
.contacto__formulario form .contacto__correo {
  width: 431px;
}
.contacto__formulario form #boton-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contacto__formulario form .enviar {
  margin: 10px;
  height: 30px;
  width: 50px;
}

.enlaces__redes {
  background-image: linear-gradient(to top, rgb(160, 12, 12), rgb(255, 31, 31));
  color: white;
}
.enlaces__redes h2 {
  color: white;
}
.enlaces__redes .enlaces__lista li {
  list-style: none;
  margin-top: 30px;
}
.enlaces__redes .enlaces__lista li .enlaces__icono {
  height: 150px;
  width: 150px;
}
.enlaces__redes .enlaces__lista li .enlaces__icono:hover {
  transform: scale(1.3, 1.3);
  transition: all 1s ease;
}

.buscanos .mapa__ubicacion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.buscanos .mapa__ubicacion .mapa__info {
  margin: 0px 20px;
  height: 200px;
  width: fit-content;
}
.buscanos .mapa__ubicacion .mapa__info h3 {
  font-size: 26px;
}
.buscanos .mapa__ubicacion .mapa__info p {
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
