.contacto__formulario{
    form{
        .contacto__nombre{
            width: 290px;
        }
        
        .contacto__correo{
            width: 431px;
        }
        
        #boton-submit{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .enviar{
            margin: 10px;
            height: 30px;
            width: 50px;
        }

        @include media-query-mobile(){
            .contacto__nombre{
                width: 259px;
            }
            .contacto__correo{
                width: 400px;
            }
            #cajaConsulta{
                width: 400px;
            }
        }

        @include media-query-tablet(){
            .contacto__nombre{
                width: 259px;
            }
            .contacto__correo{
                width: 400px;
            }
            #cajaConsulta{
                width: 400px;
            }
        }

        @include media-query-desktop(){
            .contacto__nombre{
                width: 289px;
            }
            .contacto__correo{
                width: 430px;
            }
            #cajaConsulta{
                width: 430px;
            }
        }
    }
}

.enlaces__redes{
    background-image: linear-gradient(to top,$color-primario,rgb(255, 31, 31));
    color: white;
    h2{
        color: white;
    }  
    .enlaces__lista li{
        list-style: none;
        margin-top: 30px;
        .enlaces__icono{
            height: 150px;
            width: 150px;
        }
        .enlaces__icono:hover{
            transform: scale(1.3,1.3);
            transition: all 1s ease;
        }

        @include media-query-mobile(){
            .enlaces__icono{
                height: 90px;
                width: 90px;
            }
        }
    }
}

.buscanos{
   @include media-query-mobile(){
        .mapa__ubicacion{
            .mapa__iframe{
                width: 90vw;
                @include flexbox(column,center,center)
            }
            .mapa__info{
                width: 90vw;
                text-align: center;
                br{
                    display: none;
                }
            }
        }
   }

   @include media-query-tablet(){
        .mapa__ubicacion{
            .mapa__iframe{
                width: 90vw;
                @include flexbox(column,center,center)
            }
            .mapa__info{
                width: 90vw;
                text-align: center;
                 br{
                    display: none;
                }
            }
        } 
    }
    @include media-query-desktop(){
        .mapa__ubicacion{
            .mapa__iframe{
                width: 40vw;
                @include flexbox(row,center,center)
            }
            .mapa__info{
                width: 40vw;
                 br{
                    display: none;
                }
            }
        } 
    }
}






