.hero{
    background-image: url("../imagenes/banner-home.jpg");
    background-size: cover;
    height: 600px;
    @include media-query-mobile(){
      height: 200px;
      background-position: left;
    }
}

.seccion__explora{
  background-image: linear-gradient(to top,$color-primario,rgb(255, 31, 31));
  color: white;
  h2{
    color: white;
  }
  @include media-query-mobile(){
    .explora__texto{
      margin: 40px;
      br{
        display: none;
      }
    }
  }
}


.explora__icono{
  width: 150px;
  height: 150px;
  border: 1px solid white;
}

.explora__icono:hover{
  box-shadow: 1px 5px 49px 1px rgba(255,255,255,0.49);
  -webkit-box-shadow: 1px 5px 49px 1px rgba(255,255,255,0.49);
  -moz-box-shadow: 1px 5px 49px 1px rgba(255,255,255,0.49); ;
}

.explora__nombre{
  font-weight: 600;
}

.avisos__publicaciones{
  margin-top: 20px;
  border: 2px solid black;
  height: 200px;
  overflow: auto;
  background-color: rgb(243, 243, 243);
}

@media (max-width:480px){
  .trabajamos__contenedor{
    width: 80vw;
  }

  .explora__caja{
    width: 35vw;
  }

  .valoraciones__caja{
    width: 90vw;
  }

}