.presupuesto__contenido{
    background-image: linear-gradient(to top,$color-primario,rgb(255, 31, 31));
    color: white;
    h2{
        color: white;
    }
    .presupuesto__info{
        border: 1px solid white;
    }
    
    .presupuesto__info:hover{
        box-shadow: 1px 5px 49px 1px rgba(255,255,255,0.49);
        -webkit-box-shadow: 1px 5px 49px 1px rgba(255,255,255,0.49);
        -moz-box-shadow: 1px 5px 49px 1px rgba(255,255,255,0.49);    
    }
}

.billeteras{
    background-color: white;
    border: 1px solid black;
}

.billeteras:hover{
    transform: scale(1.3,1.3);
    transition: all 1s ease;
}

@media (max-width:480px){
    .presupuesto__intro{
        margin: 20px;
    }

    .presupuesto__intro br{
        display: none;
    }

    .presupuesto__info{
        width: 70vw;
    }

    .presupuesto__info p{
        margin-top: 10px;
    }

    .billeteras{
        width: 80vw;
    }
}