.grid-servicios{
    background-image: url("../imagenes/background.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        ". truck1 serv1 serv1 serv1 truck2 ."
        ". work1 serv2 serv2 serv2 work2 ."
        ". map1 serv3 serv3 serv3 map2 ."
    ;
    column-gap: 15px;
    row-gap: 15px;
    div{
        .servicios__icono{
            height: 90px;
            width: 90px;
            @include media-query-small(){
                height: 50px;
                width: 50px;
            }
            @include media-query-mobile(){
                height: 64px;
                width: 64px;
            }
            @include media-query-tablet(){
                height: 80px;
                width: 80px;
            }
        }
    }
    div{
        .respuestas-servicios{
            br{
                @include media-query-small(){
                    display: none;
                }
                @include media-query-mobile(){
                    display: none;
                }
                @include media-query-tablet(){
                    display: none;
                }
            }
            @include media-query-small(){
                margin-top: 20px;
                text-decoration: none;
            }
            @include media-query-mobile(){
                margin-top: 20px;
                text-decoration: none;
            }
            @include media-query-tablet(){
                margin-top: 20px;
                text-decoration: none;
            }
        }
    }
    @include media-query-small(){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "truck1 serv1 serv1 serv1 serv1 serv1 truck2 "
            "work1 serv2 serv2 serv2 serv2 serv2 work2 "
            "map1 serv3 serv3 serv3 serv3 serv3 map2 "
        ;
    }
    @include media-query-mobile(){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "truck1 serv1 serv1 serv1 serv1 serv1 truck2 "
            "work1 serv2 serv2 serv2 serv2 serv2 work2 "
            "map1 serv3 serv3 serv3 serv3 serv3 map2 "
        ;
    }

    @include media-query-tablet(){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "truck1 serv1 serv1 serv1 serv1 serv1 truck2 "
            "work1 serv2 serv2 serv2 serv2 serv2 work2 "
            "map1 serv3 serv3 serv3 serv3 serv3 map2 "
        ;
    }

    @include media-query-desktop(){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "truck1 serv1 serv1 serv1 serv1 serv1 truck2 "
            "work1 serv2 serv2 serv2 serv2 serv2 work2 "
            "map1 serv3 serv3 serv3 serv3 serv3 map2 "
        ;
    }
}

.icono-truck{
    grid-area: truck1;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    animation-name: movimiento-truck;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include media-query-small(){
        grid-area: truck1;
        height: 300px;
        width: 60px;
    }
    @include media-query-mobile(){
        grid-area: truck1;
        height: 300px;
        width: 70px;
    }
    @include media-query-tablet(){
        grid-area: truck1;
        height: 300px;
        width: 100px;
    }
    @include media-query-desktop(){
        grid-area: truck1;
        width: 200px;
    }
}
.icono-work{
    grid-area: work1;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    animation-name: movimiento-work;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include media-query-small(){
        grid-area: work1;
        height: 300px;
        width: 60px;
    }
    @include media-query-mobile(){
        grid-area: work1;
        height: 300px;
        width: 70px;
    }
    @include media-query-tablet(){
        grid-area: work1;
        height: 300px;
        width: 100px;
    }
    @include media-query-desktop(){
        grid-area: work1;
        width: 200px;
    }
}
.icono-map{
    grid-area: map1;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    animation-name: movimiento-map;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include media-query-small(){
        grid-area: map1;
        height: 300px;
        width: 60px;
    }
    @include media-query-mobile(){
        grid-area: map1;
        height: 300px;
        width: 70px;
    }
    @include media-query-tablet(){
        grid-area: map1;
        height: 300px;
        width: 100px;
    }
    @include media-query-desktop(){
        grid-area: map1;
        width: 200px;
    }
}
.hijo-servicio1{
    grid-area: serv1;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-query-small(){
        grid-area: serv1;
        height: 300px;
    }
    @include media-query-mobile(){
        grid-area: serv1;
        height: 300px;
    }
    @include media-query-tablet(){
        grid-area: serv1;
        height: 300px;
    }
}
.hijo-servicio2{
    grid-area: serv2;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-query-small(){
        grid-area: serv2;
        height: 300px;
    }
    @include media-query-mobile(){
        grid-area: serv2;
        height: 300px;
    }
    @include media-query-tablet(){
        grid-area: serv2;
        height: 300px;
    }
}
.hijo-servicio3{
    grid-area: serv3;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-query-small(){
        grid-area: serv3;
        height: 300px;
    }
    @include media-query-mobile(){
        grid-area: serv3;
        height: 300px;
    }
    @include media-query-tablet(){
        grid-area: serv3;
        height: 300px;
    }
}
.icono-truck2{
    grid-area: truck2;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    animation-name: movimiento-truck2;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include media-query-small(){
        grid-area: truck2;
        height: 300px;
        width: 60px;
    }
    @include media-query-mobile(){
        grid-area: truck2;
        height: 300px;
        width: 70px;
    }
    @include media-query-tablet(){
        grid-area: truck2;
        height: 300px;
        width: 100px;
    }
    @include media-query-desktop(){
        grid-area: truck2;
        width: 200px;
    }
    
}
.icono-work2{
    grid-area: work2;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    animation-name: movimiento-work;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include media-query-small(){
        grid-area: work2;
        height: 300px;
        width: 60px;
    }
    @include media-query-mobile(){
        grid-area: work2;
        height: 300px;
        width: 70px;
    }
    @include media-query-tablet(){
        grid-area: work2;
        height: 300px;
        width: 100px;
    }
    @include media-query-desktop(){
        grid-area: work2;
        width: 200px;
    }
}
.icono-map2{
    grid-area: map2;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    animation-name: movimiento-map;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include media-query-small(){
        grid-area: map2;
        height: 300px;
        width: 60px;
    }
    @include media-query-mobile(){
        grid-area: map2;
        height: 300px;
        width: 70px;
    }
    @include media-query-tablet(){
        grid-area: map2;
        height: 300px;
        width: 100px;
    }
    @include media-query-desktop(){
        grid-area: map2;
        width: 200px;
    }
}
